[2013-03-02 13:25] milktrader opened #1 "Generalize functions to take any DataArray"
Currently the functions are forcing the use of a `Close` column

[2013-03-02 14:18] #1 closed, assigned to nobody

[2013-08-09 22:37] kmsquire opened #2 "Error on install: Package incompatible with fixed requirements"
With a recent julia, I'm getting the following error on install:

[code]

[2013-08-28 19:48] #2 closed, assigned to nobody

[2013-11-11 18:39] milktrader opened #3 "True Range function broken"
Fails in the tests (has been commented out for now), and fails in repl. Related the calling `max` (which should now be `maximum`)

[2013-11-11 18:40] milktrader opened #4 "Add Travis-CI testing"
And add icon to README

[2013-11-26 13:50] milktrader opened #5 "Add DataArrays dependency"
It has been pull from DataFrames into its own package

[2013-11-26 13:53] #5 closed, assigned to nobody

[2013-11-26 18:15] milktrader opened #6 "Allow bollinger_bands to accept Float for ma param"
This issue will likely be replicated in other methods. The main reason for this is the case where you need to pass a param array, which of course will need to all be of same type.

[2013-11-26 18:51] milktrader opened #7 "Bollinger Bands broke"
[code]

[2013-12-10 21:56] milktrader opened #8 "Replace calls to padNA with TimeSeries.pad"
This will fix a few issues

[2013-12-10 22:14] #8 closed, assigned to nobody

[2013-12-10 22:21] #3 closed, assigned to nobody

[2013-12-10 22:22] #7 closed, assigned to nobody

[2013-12-10 22:25] #6 closed, assigned to nobody

[2013-12-16 00:12] #4 closed, assigned to nobody

[2013-12-16 00:14] milktrader opened #9 "Write methods and tests for DataSeries"
For some technical analysis, such as Bollinger Bands, there are more than one output. So in this case, return all the values and make the API friendly to reason about what order the return objects will come.

[2013-12-22 02:03] milktrader opened #10 "Make the package depend only on DataSeries"
This is a goal aimed at the entire JuliaQuant organization. More than a technical issue, this goes to the point of thinking of market conditions as features rather than columns in a DataFrame.

[2013-12-27 20:20] #10 closed, assigned to nobody

[2014-01-02 18:42] milktrader opened #11 "Refactor truerange method in Series branch to use max vs iterating over maximum"
Basically, take advantage of the element-wise `max` method.

[code]

[2014-01-09 17:42] #9 closed, assigned to nobody

[2014-01-09 17:43] milktrader opened #12 "Make a dataframes branch and default to support for currently-named Series data structure"
This only involves merging the series branch to master but first creating a data frames branch

[2014-02-09 02:00] #12 closed, assigned to nobody

[2014-02-09 02:01] #11 closed, assigned to nobody

[2014-02-11 19:36] milktrader opened #16 "Write methods for the TimeSeries TimeArray structure"
Check off when methods written, and tests passing.
- [x] candlesticks.jl 22837dac2fe5c9c5692a447b38c192774971e99b
- [x] levels.jl 8da697fcfbaf592c4e3b070892cb9cbb9d37f7b5
- [x] momentum.jl 5ffaaad92abc7a2597f1f70b356288526f754f58
- [x] movingaverages.jl 24f6509a20057b4f8d2968d005c71db881b43961
- [x] volatility.jl d0ed9b8ec74bf04f4fd0dda8fc623d3d336fa17e
- [x] volume.jl 87df8201364a9e589af943eb8e16

[2014-02-25 01:14] #16 closed, assigned to nobody

[2014-02-25 01:17] milktrader opened #17 "Implement more technical analysis algorithms"
- [x] adx
- [x] aroon
- [x] cci
- [x] chaikan volatility
- [x] donchian channel
- [x] kelter bands
- [x] stochastic oscillator
- [ ] ehlers http://www.davenewberg.com/Trading/EhlersCodes.html

[2014-03-12 15:25] milktrader opened #18 "Get passing travis tests"
Travis can't find the methods of the package.

[2014-03-14 13:20] #18 closed, assigned to nobody

[2014-03-18 01:19] LeoK987 opened #20 "assumed ordering is wrong"
The indexing order seems to assume that the oldest data is at index n and the newest at index 1. But that is not how typical data are arranged. Typically, the oldest data is at index 1 and the newest at index n

In the typical ordering of the data, should the for loop be as follows?

[code]

[2014-03-18 01:22] LeoK987 opened #21 "length of output should stay the same as the input"
I see that the current output from functions like sma is of length N-n+1, where N is the original length of the timeseries. While that is reasonable, it is practically inconvenient. For further calculation between the output timeseries and the original timeseries, the end user may have to spend extra effort dealing with syncing and the omitted values.

I suggest that these functions keep the origi

[2014-03-24 10:15] milktrader opened #27 "Document methods and API"
There are a few ways that packages are being documented. The quick and dirty method is to include it in the README, but long-term a more accessible format needs to be implemented.

[2014-03-27 22:05] XilinJia opened #29 "referencing of column names needs to be standardized"
In both cci and keltnerbands, columns are referenced by the names such as "High", "Close" etc.  This is based on the assumption that the data come with these names.  How do we ensure about this assumption?  Somewhere this needs to be addressed.

[2014-03-31 05:56] XilinJia opened #30 "consider suing DataArray with most indicators"
Benefits:

1) ~~compared with using TimeArray, DataArray can be one column only, which is mostly needed with indicators, so more efficient~~
2) compared with using Array, DataArray allows empty entries
3) consistent with StatBase

[2014-04-03 03:37] #30 closed, assigned to nobody

[2014-05-14 16:43] IainNZ opened #32 "[PackageEvaluator.jl] Your package MarketTechnicals may have a testing issue."
_This issue is being filed by a script, but if you reply, I will see it._

[PackageEvaluator.jl](https://github.com/IainNZ/PackageEvaluator.jl) is a script that runs nightly. It attempts to load all Julia packages and run their test (if available) on both the stable version of Julia (0.2) and the nightly build of the unstable version (0.3).

The results of this script are used to generate a [packa

[2014-05-14 23:05] XilinJia opened #33 "strange characters in volume.jl"
Just discovered today.  Don't know why this happened.  I wonder if it is just my display issue.

---

function vwap{T,N}(ohlc::TimeArray{T,N}, n::Int; price="Close", v="Volume")

[code]

end

[2014-05-20 19:13] #33 closed, assigned to nobody

[2014-05-20 19:13] milktrader opened #34 "Rewrite tests to conform to new MarketData test object"

[2014-05-21 15:13] milktrader opened #36 "Volatility tests not matching results for true range with R's TTR"
Tests are currently stubbed out for `truerange` and `atr`

[2014-05-21 15:13] milktrader opened #37 "Volume tests require MarketData object that includes volume data"
Tests are commented out.

[2014-05-22 18:06] #32 closed, assigned to nobody

[2014-05-31 02:14] milktrader opened #38 "Add tests for cci and keltner"

[2014-05-31 02:15] milktrader opened #39 "Update REAMDE with new MarketData values"

[2014-06-02 02:29] #36 closed, assigned to nobody

[2014-06-02 02:31] #38 closed, assigned to nobody

[2014-06-04 11:12] milktrader opened #40 "Use the typical function to calculate typical price"
There are various methods that prefer taking the typical price and the `typical` method is a standard wrapper for this (it's in the utiilities.jl file)

[2014-06-04 11:35] #29 closed, assigned to nobody

[2014-06-04 11:39] #34 closed, assigned to nobody

[2014-06-04 11:41] #37 closed, assigned to nobody

[2014-06-05 21:25] milktrader opened #41 "Provide an option to return transformed TimeArrays with NaN values"
`NaN` value would be a placeholder for missing values in this case, which is what the Pandas package does. Many methods lose the first several rows of data to computation and currently the returned object simply omits them. By providing a option inside methods along the lines of `includeNaN = false`, users could opt to *include*  the `NaN` values that convey that there was an original value inside

[2014-08-24 22:59] milktrader opened #44 "Implement advanced Ehlers indicators"
Here is a reference:

http://www.davenewberg.com/Trading/EhlersCodes.html

[2015-02-21 02:31] milktrader opened #46 "Ensure meta field remains intact"
This is a new feature for TimeArrays and preserving the meta value should be enforced.

[2015-03-12 13:44] milktrader commented on #21
We now have `Nullable{Float64}` so each method can have a kwarg something like `consume=true` where the idea is by default, dates consumed to computation are removed. Setting this to `false` will keep the original `Array{Date}`  in place and put `Nullable{Float64}` in the values slot(s).

I'm closing this for now and opening a new issue on bike shedding the name for this kwarg.

[2015-03-12 13:44] #21 closed

[2015-03-12 14:02] milktrader opened #47 "Bikeshed name for kwarg that preserves dates consumed by computation"
A 10-period moving average cannot be computed on a distance less than 10, so when performing this computation on a data structure, the first 9 values don't have any reasonable value. This package *consumes* these dates, throwing them into the black hole of time-space where they belong. The resulting data structure has 9 less rows than the original data structure. This is what happens when you do t

[2015-03-12 14:08] milktrader commented on #21
https://github.com/JuliaQuant/MarketTechnicals.jl/issues/47

[2015-03-12 18:47] multidis commented on #47
Is `Nullable` in version 0.4 only or is there a package to include it in Julia 0.3? In any case, kwarg for choosing this behavior is really necessary that may be set to a proper default if Nullable-type is not available. Perhaps `allow_nullable`?

[2015-03-12 19:03] milktrader commented on #47
`allow_nullable` is descriptive but hard to remember and easy to mis-spell.

Yes, `Nullable` is a new feature in `v0.4`. It won't be much longer before that becomes the stable version so I'd rather just reserve this functionality for that.

I suppose you could just use `NaN` in the meantime as the sentinel and build out the method signatures. Then it would be easy enough to `s/NaN/Nullable{Float64

[2015-03-12 19:12] multidis commented on #47
I did not know v0.4 is coming soon and could not find much info on that. Any pointers on the expected time frame? Could you share the links?

[2015-03-12 19:12] milktrader commented on #47
`keep`
`keep_dates`
`removeNA`

[2015-03-12 19:13] milktrader commented on #47
well, it's been 9 months and I feel everyone's getting ready to finalize what must be done first and what can wait until `0.4.1`

https://groups.google.com/forum/#!topic/julia-dev/Q1K3MvNYvJo

[2015-03-12 19:20] milktrader commented on #47
DataFrames uses `removeNA`.

I like that, quite frankly. It does conflate `NA` (which doesn't exist in Base) with `Nullable` (which is implemented)

`removeNullable = true`

[2015-03-23 01:11] milktrader commented on #27
This will be done with read the docs.

[2015-03-23 01:26] #27 closed

[2015-10-01 13:32] milktrader commented on #47
How about using a new placeholder? I was thinking of using `CBC` for consumed by calculation. It would be clear why that value is missing in this case. Underneath it can be implemented as `Nullable`

[2015-10-01 13:35] milktrader commented on #47
In this case, the kwarg would be `keep_all_dates = false` maybe?

[2016-04-20 20:26] femtotrader opened #51 "TALib wrapper"
Hello,

it will be nice to have a Julia TALib wrapper like https://github.com/mrjbq7/ta-lib for Python
Pinging @mrjbq7

Here is function supported by TALib http://ta-lib.org/

[code]

Kind regards

[2016-04-23 07:26] femtotrader commented on #51
A Node wrapper can be found at https://github.com/oransel/node-talib
A Go wrapper can be found at https://github.com/d4l3k/talib

[2016-04-28 17:17] milktrader commented on #51
This package is currently pure Julia code, but I see no problem creating a new one that does wrap TALib. If you'd like to start on it we can add it to the JuliaQuant organization as TALib.jl.

[2016-04-28 19:22] femtotrader commented on #51
I don't feel very confortable with calling C code from Julia.
I've found http://docs.julialang.org/en/release-0.4/manual/calling-c-and-fortran-code/

I'm using Mac OS X and installed TALib through `brew`

[code]

Do you have some experience about calling C code from Julia and could you help on this ?

[2016-04-28 20:03] milktrader commented on #51
Yeah, it's a lot easier than you think. The language is designed to accept calls to C and Fortran libraries so wrapping isn't a snarly mess like in other languages.

One suggestion is to look over some other Julia libraries that wrap C code.

[2016-04-28 20:30] femtotrader commented on #51
I have found an example here https://github.com/aviks/PiGPIO.jl/blob/master/src/PiGPIO.jl

[2016-04-28 20:32] milktrader commented on #51
Sweet! Yeah @aviks knows the code, solid reference to start

[2016-05-06 14:32] femtotrader commented on #51
Under OS X I noticed:

[code]

Maybe we could first try to do in Julia same than in Python:

[code]

which output

[code]

Unfortunately, in `PiGPIO.jl`, no array is passed to C functions.

[2016-05-06 14:52] femtotrader commented on #51
I try this:

[code]

so function is not named SIN

I did (according http://stackoverflow.com/questions/4506121/how-to-print-a-list-of-symbols-exported-from-a-dynamic-library )

[code]

and get

[code]

So function seems to be named `_TA_SIN`

I did

[code]

I also try:

[code]

Not sure a segfault is great!

Any idea ?

[2016-05-07 11:29] femtotrader commented on #51
Here is how `TA_SIN` prototype is defined in `ta_SIN.c`:

[code]

[2016-05-07 12:16] femtotrader commented on #51
Good news...

[code]

[2016-05-07 14:07] femtotrader commented on #51
Many functions have suffix like `_FramePP`, `_FramePPLB` and `_Lookback`
I don't understand what it means.
Maybe https://github.com/mrjbq7/ta-lib/blob/master/talib/func.pyx could help to understand this.
Any idea ?

[2016-05-07 14:40] mrjbq7 commented on #51
See the API docs for discussions on how look back works and how to call the functions efficiently:

http://ta-lib.org/d_api/d_api.html

[2016-05-07 18:08] femtotrader commented on #51
Thanks @mrjbq7 for this. Work In Progress available at https://github.com/femtotrader/TALib.jl

[2016-05-07 20:56] femtotrader commented on #51
Closing here
I'd be pleased if you join https://github.com/femtotrader/TALib.jl/issues/1

[2016-05-07 20:56] #51 closed

[2016-05-12 21:16] milktrader commented on #51
Looking forward to benchmarking TALib against MarketTechnicals, with both DataFrames and TimeArrays.

[2016-10-25 12:52] milktrader commented on #46
This seems to work fine for now.

[2016-10-25 12:52] #46 closed

[2016-10-25 12:53] milktrader commented on #39
Stale issue.

[2016-10-25 12:53] #39 closed

[2016-10-25 12:54] milktrader commented on #20
stale issue.

[2016-10-25 12:54] #20 closed

[2016-10-25 12:56] milktrader commented on #44
Closed and added to list in issue #17

[2016-10-25 12:56] #44 closed

[2016-10-25 13:00] milktrader commented on #47
`padding=true` is what TimeArrays use so this will be consistent over here.

[2016-10-25 13:00] #47 closed

[2016-10-25 13:02] milktrader opened #52 "Implement padding=true option on all consumption algorithms"
This package currently chops off and throws away time values where an algorithm consumes values. The `padding=true` option will allow users to preserve consumed dates and will use `NaN` as a placeholder.

[2016-10-25 13:04] milktrader opened #53 "Algorithms only work with single-column TimeArrays"
Apply the algorithm to all the columns, where it makes sense. This only applies to algorithms that only require one column of data (i.e., levels, candlesticks and others require more than one feature to compute a value and these don't apply).

- [x] sma
- [x] ema
- [x] rsi
- [x] cci

[2016-10-25 13:05] milktrader commented on #41
Closed in favor of issue #52

[2016-10-25 13:05] #41 closed

[2016-10-25 13:05] milktrader commented on #40
I think this is done, if not re-open.

[2016-10-25 13:05] #40 closed

[2016-10-26 13:24] milktrader opened #55 "cci method has divergent results from TTR's CCI function"
First, the current algorithm was implemented based on some of these references:

[stock charts](http://stockcharts.com/school/doku.php?id=chart_school:technical_indicators:commodity_channel_index_cci)

[brames](http://www.brameshtechanalysis.com/2012/06/commodity-channel-index-cci-trading-system/)

[wiki](https://en.wikipedia.org/wiki/Commodity_channel_index)

Though the wiki article doesn't speci

[2016-10-26 13:32] milktrader commented on #53
Closed with version 0.5.1

[2016-10-26 13:32] #53 closed

[2016-10-27 13:31] milktrader opened #56 "Dispatch on now"
Add a `TimeType` argument to all the indicators that produces a scalar (or boolean) result.

For example, the `sma` method would look like this:

[code]

[2017-03-10 12:39] iblis17 opened #58 "Migrate doc generator to Documentor.jl?"
FYI: https://juliadocs.github.io/Documenter.jl/stable/

I can work on this migration.

[2017-03-16 13:17] milktrader commented on #58
Okay, keep it up then. I'm going to start merging these.

[2017-03-16 13:51] milktrader opened #63 "New Documenter.jl migration"
First, the readthedocs pages are not rendering ...

![screen shot 2017-03-16 at 9 47 26 am](https://cloud.githubusercontent.com/assets/324836/23999198/f514de24-0a2d-11e7-82f8-4b095983042d.png)

And in repl, the help docs are not rendering either ...

![screen shot 2017-03-16 at 9 51 38 am](https://cloud.githubusercontent.com/assets/324836/23999256/2d83f0e2-0a2e-11e7-9316-f84f5ae7c3aa.png)

[2017-03-16 14:02] milktrader commented on #58
It appears the migration to `.md` from `.rst` isn't look all that good.

[2017-03-16 16:02] iblis17 commented on #63
The doc generated by Documenter.jl usually hosted on GH page.
Please see this also:
https://juliadocs.github.io/Documenter.jl/stable/man/hosting.html#Hosting-Documentation-1

[2017-03-16 16:05] iblis17 commented on #63
And.... the LaTex syntax is just a raw string under REPL

[2017-03-29 08:24] iblis17 commented on #63
@milktrader need help?

[2017-03-31 15:03] milktrader commented on #63
Yes I have been swamped lately

[2017-03-31 15:19] iblis17 commented on #63
looks like Julia also migrated from RTD to GH pages: https://github.com/JuliaLang/julia/tree/gh-pages

Not sure, i'm not using any IDE....
Documenter.jl can render it via MathJax. (https://juliadocs.github.io/Documenter.jl/stable/man/latex.html)

[2017-03-31 15:24] iblis17 commented on #63
Here is a my working dir: http://140.113.73.135:8900/

[2017-03-31 16:00] iblis17 commented on #63
If you really want to deploy doc on RTD, I can investigate on it.

[2017-04-06 03:21] iblis17 opened #64 "Adaptive Moving Average"
Just discovered this:
https://www.tradingtechnologies.com/help/x-study/technical-indicator-definitions/adaptive-moving-average-ama/

(added to my TODO

[2017-04-09 18:19] milktrader commented on #63
This would be a good package to migrate to GH pages.

[2017-04-10 04:13] iblis17 commented on #63
👌

[2017-04-27 12:56] milktrader commented on #64
@iblis17 do you have time to work on this package? I'm tapped out for a few months at least and I can give you privileges to tidy things up here if you have time and urge do to so.

[2017-04-27 20:31] iblis17 commented on #64
@milktrader I can take it :) I have an easy schedule this weekend.

[2017-04-28 11:52] milktrader commented on #64
You've been invited. Once you accept you should have push privileges to the MarketTechnicals repo.

[2017-04-30 06:59] iblis17 opened #70 "migrate testing framework to Base.Test"
Ref: https://docs.julialang.org/en/stable/stdlib/test/

[2017-04-30 11:19] iblis17 commented on #70
I decide to wait until julia 0.6 released.

The `isapprox` function in julia 0.5:
[code]
In julia 0.6, there is a more elegant syntax and `@test_approx_eq_eps` is deprecated.
[code]

[2017-05-04 16:21] iblis17 commented on #63
closed via #69

[2017-05-04 16:21] #63 closed

[2017-05-04 16:21] iblis17 commented on #58
closed via #69

[2017-05-04 16:21] #58 closed

[2017-05-10 02:53] #64 closed

[2017-05-10 16:44] iblis17 opened #83 "KAMA do not accept integer array"
TODO: convert the input array to float type and output float

[2017-05-14 07:28] iblis17 commented on #56
I guess we can use macro to implement this feature?

[2017-05-19 03:19] #55 closed

[2017-05-20 06:04] iblis17 opened #87 "Moving Average Envelope"
TODO: https://www.tradingview.com/wiki/Envelope_(ENV)

[2017-05-20 06:57] #83 closed

[2017-05-23 03:20] iblis17 commented on #17
PR of ADX: #89

[2017-05-27 12:04] iblis17 commented on #52
I guess that we can craft a macro to achieve this? like the decorator in Python.

[2017-05-28 10:49] iblis17 commented on #52
@milktrader
I'm working on this issue.
I was wondering to known what is the main reason not to use `moving(ta, mean, n)` in SMA?[1]

1.https://github.com/JuliaQuant/MarketTechnicals.jl/blame/master/src/movingaverages.jl#L5-L10

[2017-05-28 18:04] iblis17 commented on #52
@milktrader please check out the #90 !

[2017-05-29 08:29] iblis17 commented on #17
kelter bands: #88

[2017-06-01 07:46] femtotrader opened #93 "Differences between MarkTechnicals.jl, Indicators.jl and TALib.jl"
Hello,

I wrote some months ago a Julia wrapper for [TA-Lib](http://www.ta-lib.org/) : [TALib.jl](https://github.com/femtotrader/TALib.jl)

So it's financial market technical analysis & indicators in Julia using TA-Lib library.

I think it's better to have [a pure Julia Technical analysis package](https://github.com/femtotrader/TALib.jl/issues/7)

but I wonder what are differences between and Mark

[2017-06-01 08:56] iblis17 commented on #93
Hi @femtotrader .
`MarkTechnicals.jl` is built on `TimeSeries.jl`. So you can leverage lots of handy functions from `TimeSeries.jl`. And... to be honest, `MarketTechnicals` is still in developement stage and lacks of some popular indicators.
`Indicators.jl` depends on another time series array implementation, IIRC.

I think the blocker is the time array implementation.
(But I want to keep away fro

[2017-06-01 09:20] femtotrader commented on #93
Thanks @iblis17 for your answer

So there is (at least) 2 Julia time series array implementation.
- [Timeseries.jl](https://github.com/JuliaStats/TimeSeries.jl)
- [Temporal.jl](https://github.com/dysonance/Temporal.jl)

(I was aware of this situation)

There is also [JuliaTS](https://github.com/tanmaykm/JuliaTS.jl) on top of [IndexedTables.jl](https://github.com/JuliaComputing/IndexedTables.jl) fr

[2017-06-01 09:28] iblis17 commented on #17
chaikan volatility: #94

[2017-06-01 13:21] iblis17 commented on #17
Donchian Channels: #95

[2017-06-02 04:29] dysonance commented on #93
@femtotrader Yes there are indeed a few package that whose functionality and objectives definitely intersect, and I think a more organized development plan could go a long way.

TimeSeries and MarketTechnicals were already around when I started work on Temporal and Indicators. The main reason I decided to start new packages altogether was that I didn't really care for some of the existing design d

[2017-06-02 04:29] dysonance commented on #93
Oh, last thing — would love to be a part of the systematic strategy backtesting work. I have some really interesting ideas about how Julia could be a wicked awesome strategy research language, which I have been planning on making my next big project. Happy to discuss that effort with anyone that wants to work together on building this functionality.

[2017-06-03 08:44] iblis17 commented on #93
There is `rename` function from `TimeSeries`. I usually operate time index via `lag`, `moving` ... etc. I'm   curious about what the special feature you need is.

* That indexing functionality looks great! Is there any barrier preventing this feature from being            implemented in TimeSeries?
    * Actually, both `TimeArray` and `Temporals` have the `values` field for getting the `Array` obj

[2017-06-03 10:24] femtotrader commented on #93
One important feature for a timeseries implementation is to be able to resample them easily. That's the reason why I did [TimeSeriesResampler.jl](https://github.com/femtotrader/TimeSeriesResampler.jl) and [TimeFrames.jl](https://github.com/femtotrader/TimeFrames.jl).

An other point, is that to be able to use a Julia TimeSeries implementation, we also have to think about streaming data, and how pr

[2017-06-04 06:50] iblis17 commented on #17
Stochastic Oscillator: #96

[2017-06-04 15:08] iblis17 commented on #93
A question flashed into my mind. Seems there are 2 ways to extend new feature on a package:
   1. send a PR to the orig repo
   2. create a new repo

@femtotrader What are the main pros and cons of creating a new repo like `TimeSeriesResampler` instead of merging those code into original project?

Make a single, feature rich project is more common in Python's community, e.g. Pandas contains both t

[2017-06-04 16:37] femtotrader commented on #93
- Pros of creating a new repo
If original author don't want your code, this is the only solution. You are free to create whatever you like!
New features could require new dependencies, and so these dependencies won't be required in original project.

- Cons of creating a new repo
It add some complexity for users (to install).
they will have to install many differents projects.

I come from Python

[2017-06-04 18:34] iblis17 commented on #93
I agree this point.

I will propose that just add new dependencies into the original repo if possible. (Not sure how the optional dependency can be implemented in Julia). Before you show me the `TimeSeriesResampler`, I did not know the feature has been done already. I did resample manually and it make me tired.

Let me show you the picture in my mind, e.g.:
The `TimeFrames.jl` is the reusable comp

[2017-06-04 22:35] dysonance commented on #93
Haha wow, this discussion got really deep since I last opened it, glad to see you guys are equally interested in organizing our efforts around this! I'll try to hit on the major discussion points separately.

## Repo/Project Organization
I was also generally quite surprised that so many efforts with similar objectives in the Julia community have appeared to splinter into separate packages. Coming

[2017-06-07 14:17] femtotrader commented on #93
I wonder if @JuliaComputing have a roadmap to create timeseries implementation on top of [IndexedTables.jl](https://github.com/JuliaComputing/IndexedTables.jl) (like [JuliaTS.jl](https://github.com/tanmaykm/JuliaTS.jl) was for NDSparseData). Pinging @shashi @JeffBezanson
Why I'm asking that?
Because if you have one stock with candlestick data you have 2 dimensional data.
But in fact you are often

[2017-06-08 12:35] milktrader commented on #93
I am happy to grant access to developers within this organization. I agree it's best to consolidate our efforts here.

Please advise what projects, packages or groups you're interested in.

😄

[2017-06-08 12:56] milktrader commented on #93
@dysonance can you elaborate what features in `xts` you'd like to see in `TimeSeries`. I'm very familiar with `xts` and authored `TimeSeries`. I'm also open to a new time series type (I experimented with some here in the past) so your input there would be welcome.

As far as getting data from Quandl, FRED and Yahoo, all those have been implemented at some point. The Quandl.jl api is in need of som

[2017-06-08 13:57] femtotrader commented on #93
On my side I'm ok to move [DataReaders.jl](https://github.com/femtotrader/DataReaders.jl) and [TALib.jl](https://github.com/femtotrader/TALib.jl) to  @JuliaQuant

I'm still not sure what is the best organisation for [TimeSeriesResampler.jl](https://github.com/femtotrader/TimeSeriesResampler.jl) [TimeFrames.jl](https://github.com/femtotrader/TimeFrames.jl) and [TimeSeriesIO.jl](https://github.com/f

[2017-06-08 14:04] milktrader commented on #93
(Hierarchy of Packages)[https://github.com/JuliaQuant/Roadmap/issues/3] this is over two years old but there is a Roadmap for JuliaQuant that would be a good place to continue this discussion.

[2017-06-08 15:32] iblis17 commented on #93
@milktrader Could you tell more about this repo https://github.com/JuliaQuant/FinancialSeries.jl ?

[2017-06-08 17:04] ararslan commented on #70
For compatibility with 0.5, I just do
[code]
That should be equivalent to `@test 1 ≈ 1 atol=0.1` on 0.6.

[2017-06-08 17:23] iblis17 commented on #70
Is there any tool which can get the AST and transfer `@fact` to `@test`, then generate a new file?
(if no, I'm going to write a simple sed/awk script :p

[2017-06-08 17:25] ararslan commented on #70
Not that I know of. I'd probably also just used sed (or at least Vim find/replace) for that.

[2017-06-08 17:25] iblis17 commented on #70
ha, ok.

[2017-06-08 18:26] iblis17 commented on #70
Here is a quick hacking

[code]

[2017-06-08 18:28] ararslan commented on #70
Nice

[2017-06-08 19:39] milktrader commented on #93
It was basically a specialized time series for financial data. I had some doubts about its performance and as you can tell have not developed it in some time.

IIRC, there was an important utility for it in downstream packages (in theory)

[2017-06-08 19:40] milktrader commented on #70
Love some good ole-fashioned `sed`

[2017-06-14 01:06] milktrader commented on #17
ltgm

[2017-06-14 01:08] milktrader commented on #52
I think `NaN` sentinels as placeholders for consumed values is fine with all th shifting that happens with technical analysis. I wanted TimeSeries to be more pure about it, but here it works for me.

[2017-06-14 15:28] iblis17 commented on #52
sry, I do not understand your meaning...

[2017-06-15 03:24] iblis17 commented on #17
Aroon Oscillator: #97

[2017-06-17 00:05] milktrader commented on #52
I feel it's better for packages other than TimeSeries to make the call about making `padding=true` the default. TimeSeries does not do this by default.

[2017-06-24 14:28] iblis17 opened #98 "naming consistency"
@milktrader I think it is time to roll out a new release, and I want to sort out the naming of those functions/output columnes.
I need your comment and sort out a consistent naming policy.

Here are some questions came to my mind:
* Some output columes will append the parameter of the indicator but some not.
  e.g. [SMA](https://juliaquant.github.io/MarketTechnicals.jl/latest/ma.html#Simple-Moving

[2017-07-02 18:14] milktrader commented on #98
I'm not thrilled with the underscore in a function name to be honest. Maybe just `chaikin`?

[2017-07-02 18:14] milktrader commented on #98
About appending parameter, I suppose it would be better to be consistent and append them all.

[2017-07-02 20:09] iblis17 commented on #98
Let me list all the new indicator we implemented (https://github.com/JuliaQuant/MarketTechnicals.jl/blame/master/NEWS.md#L6-L24) and review naming one-by-one:

approve ? |Indicator | current function name
-------|------------|------------
 ? |Kaufman's Adaptive Moving Average | `kama`
? |Kelter Bands | `keltnerbands`
? |Rate of change |  `roc`
? |Average Directional Movement Index | `adx`
? |Accum

[2017-07-02 20:12] iblis17 commented on #98
Some indicator have more than one parameters, e.g. [kama](https://juliaquant.github.io/MarketTechnicals.jl/latest/ma.html#Kaufman%27s-Adaptive-Moving-Average-1).
 Is appending them still a good idea?

[2017-07-09 14:25] milktrader commented on #98
Here is an older discussion https://github.com/JuliaStats/DataArrays.jl/issues/36#issuecomment-31036616

[2017-07-09 15:50] milktrader commented on #98
Approve list:
  kama
  keltnerbands
  adx
  aroon
  adl
  chaikinvolatility

Underscore names I'd like to avoid, but it's not easy without too many letters. Thinking about this.

`ROC` how is this different from `TimeSeries.percentchange`

[2017-07-09 15:57] milktrader commented on #98
I see why you have `ROC`, to offer differences over arbitrary periods.

Maybe we change `TimeSeries.percentchange` instead?

Also, this is great work you've done here @iblis17 thank you very much.

Unless you'd rather not, please add your name to the LICENSE.md

[2017-07-09 16:16] iblis17 commented on #98
Is using abbreviation ok in naming? e.g Chaikin Oscillator named as `chaikinosc`

Maybe we change `TimeSeries.percentchange` instead?

Ok, I can send a PR to `TimeSeries` later (I am working on upgrading TimeSeries to julia 0.6).

👌 , I will add it.

[2017-07-09 16:23] iblis17 commented on #98
How about this?

|Indicator | current function name | proposed new name
------------|------------|----
Chaikin Oscillator | ~`chaikin_osc`~ | `chaikinosc`
Chaikin Volatility | `chaikinvolatility ` | `chaikinvola`
Donchian Channels | ~`donchian_channels`~ | `donchian`
Stochastic Oscillator | ~`stoch_osc`~ | `stoch`

[2017-07-09 16:27] milktrader commented on #98
I'm thinking that if I cannot remember an abbreviation, I can always spell it out.

One solution is to use the full name with both underscore and no underscore ...

`chaikinsocillator` = `chaikin_oscillator` which lets the user decide which one they like.

[2017-07-09 16:35] milktrader commented on #98
Also, it might serve us well to include a new file `src/.markettechnicalsrc.jl` or just `/src/.rc.jl` where users can call methods whatever they want. TimeSeries has this.

How about this : as a matter of consistency, unless a a method has a widely accepted abbreviation such as `adx` then the entire name is spelled out with and without underscores.

Users can name these methods with arbitrary name

[2017-07-09 16:42] iblis17 commented on #98
I guess listing the rc file in `.gitignore` will do the trick.

Let me think more about the case of *the entire name is spelled out with and without underscores*.
I want single naming and follow the naming convension baked by community.

just googled and found:
  - https://github.com/JuliaLang/julia/blame/master/CONTRIBUTING.md#L223-L234
  - https://docs.julialang.org/en/latest/manual/style-guide/

[2017-07-09 17:12] iblis17 commented on #98
@milktrader after browsing some code in `Base`, I choose *full name without underscores*. the underscores is usually for spliting adj or verb

[2017-07-26 16:55] balupton opened #99 "Renko"
Any plans for Renko support?

- https://www.tradingview.com/wiki/Renko_Charts
- http://stockcharts.com/school/doku.php?id=chart_school:chart_analysis:renko
- http://www.investopedia.com/terms/r/renkochart.asp

[2017-07-26 17:13] iblis17 commented on #99
I will look into it.
I think we can implement a convertion function make candistick map to Renko first.
Then add the plot recipe later.

[2017-07-26 17:34] femtotrader commented on #99
@iblis17 I think you are wrong you can't make "candlestick map to Renko"
You need ticks data to draw Renko.

Some free ticks data are available at
https://www.dukascopy.com/swiss/english/marketwatch/historical/
https://github.com/femtotrader/DukascopyTicksReader.jl may help

TrueFX also provides free ticks data
http://www.truefx.com/

[2017-07-26 17:45] iblis17 commented on #99
ha, I see! Thanks for point that out!

[2017-08-07 19:40] femtotrader commented on #99
Same feature request with Indicators.jl (based on Temporal.jl) https://github.com/dysonance/Indicators.jl/issues/4

[2017-08-08 02:46] balupton commented on #99
@femtotrader yep, here's a typescript implementation:

https://github.com/anandanand84/technicalindicators/blob/master/src/chart_types/Renko.ts

And a JavaScript one: https://github.com/rrag/react-stockcharts/blob/b9518ad87bb29b39d79b5b80ab9c8dc406294c15/src/lib/calculator/renko.js

[2017-08-09 18:03] femtotrader commented on #99
There is several kind of Renko charts
https://www.youtube.com/results?search_query=renko+chart

Some are using fixed height for brick.

Some are using ATR.
https://www.youtube.com/watch?v=KZaslVjZ2h8

Some have bricks looking hammers https://www.youtube.com/watch?v=reV3vc7I9OA

...

[2017-08-15 12:21] Vaibhavdixit02 opened #100 "Want to become a contributor."
Hello, I am interested in contributing to JuliaQuant. Can someone guide me on how to start?

[2017-08-15 18:44] iblis17 commented on #100
Hi @Vaibhavdixit02 !
Any form of contirubtion are wellcomed!

---
About contributions:

I think "contribution" contains several faces.

1. The most comment but important contribution is filing bugs and providing helpful info, like opening a issue on GitHub and showing us the reproducing steps. Breaking the program and letting everyone  know it is a nice contibution. It also encourages developers:

[2017-08-15 19:13] Vaibhavdixit02 commented on #100
Thank you for such a detailed answer.

[2017-08-15 19:13] #100 closed

[2017-08-24 00:27] milktrader commented on #100
@Vaidhavdixit02 take on an issue and solve it. Submit a Pull request. You are now a contributor. :smile:

[2017-09-24 14:29] Vaibhavdixit02 opened #101 "Interested in better understanding and contributing."
Hello, I am a student of Mathematics and Computing from India and I am quite interested in Quant, recently I read "Introduction to time series and forecasting" by Brockwell and Davis. I wanted to know about more resources to increase my knowledge and if there was some way to contribute to this project. Any reply would be greatly appreciated. Thanks.

[2017-09-24 18:11] iblis17 commented on #101
Hi @Vaibhavdixit02 ,
you may be insterested in #100 ;)

[2017-09-24 18:13] iblis17 commented on #101
Hi @Vaibhavdixit02 ,

There are some repo related to time series in JuliaStats

e.g. https://github.com/JuliaStats/TimeModels.jl

[2017-09-24 18:19] Vaibhavdixit02 commented on #101
@iblis17 Yes I remember that I had asked this before but I felt I needed some help. Anyway to chat with you if you are free sometime?

[2017-09-24 18:22] iblis17 commented on #101
@Vaibhavdixit02 feel free to join Julia's slack channel, chat or ping me; On #statistic channel, there are lots of people can help you.
(but I'm going to sleep now 💤

[2017-09-24 18:26] iblis17 commented on #101
FYI: https://discourse.julialang.org/t/announcing-a-julia-slack/4866

[2017-09-24 18:26] Vaibhavdixit02 commented on #101
Okay thanks! Will get in touch.

[2017-09-25 09:55] #101 closed

[2017-10-12 12:51] shivchawla opened #102 "MACD doesn't work with more than one column"
I am using the macd functions but it crashes with an error in case of a time-series with two stocks.
[code]

[2017-10-12 12:56] shivchawla commented on #102
Never Mind!! I have the wrong version installed. The latest version 0.5.1 has fixed the issue

[2017-10-12 12:56] #102 closed

[2017-11-02 09:19] femtotrader commented on #93
Just a comment about streaming data...

You might have a look at this Python project
http://matthewrocklin.com/blog/work/2017/10/16/streaming-dataframes-1
https://github.com/mrocklin/streamz

We should have something like this for Julia (with OHLC resampling)

[2017-12-14 00:35] juliohm opened #104 "BollingerBands not working"
The function is not working on the latest release:

[code]

[2017-12-14 00:56] iblis17 commented on #104
hmm lastest release is quite old and do not support Julia 0.6,
scinec at that time TimeSeries cannot handle 0.6 broadcasting.

[2017-12-14 02:28] juliohm commented on #104
I tried with master, and the error is the same, is this also expected?

[2017-12-14 03:13] iblis17 commented on #104
ha, I got it. this function only accept single column TimeArray
[code]

[2017-12-14 03:14] iblis17 commented on #104
because the output column number is fixed now.

[2017-12-14 03:16] juliohm commented on #104
Got it, I will try it again in the future. Closing the issue, thanks for the quick solution.

[2017-12-14 03:16] #104 closed

[2018-03-31 12:17] samjurl opened #107 "UndefVarError"
Hi there,

Have been testing MarketTechnicals today. Calling some functions such as "sma" or "ema" works fine. However for most others, such as "roc", I get the following error: "UndefVarError: roc not defined."

I am definitely using the package, and without using, I also get this error when calling sma or ema as expected.

I have Julia 0.6.2 installed and everything else is up to date with Pkg.u

[2018-04-01 07:52] iblis17 commented on #107
well, I do not release it yet.
You can checkout the master branch via `Pkg.checkout("MarketTechnicals")`

[2018-04-01 08:25] samjurl commented on #107
I see, sorry I hadn't understood that. I got around it however by defining the required functions based on the source code available in the documentation. It's very useful, many thanks!

[2018-04-01 09:42] iblis17 commented on #107
You can check the current release version in [GitHub](https://github.com/JuliaQuant/MarketTechnicals.jl/releases) and check your `Pkg.status("MarketTechnicals")`.

`roc` is a new feature that haven't been released yet, it's only available on master branch.
Please see [NEWS.md](https://github.com/JuliaQuant/MarketTechnicals.jl/blob/master/NEWS.md) .

[2018-04-02 10:17] iblis17 commented on #107
fine to close this issue now?

[2018-04-02 10:36] samjurl commented on #107
Yeah the issue is cleared - cheers

[2018-04-02 11:55] #107 closed

[2018-04-15 15:01] stefabat opened #108 "rsi returns one extra value"
Hi,

I noticed that the `rsi` function returns arrays with one extra value.

E.g., if I have `N` periods, I get `N-1` period differences and if I use EMAs averaging over `n` periods of these arrays with `N-1` entries, I should get in the end `N-1 - n + 1` which is equal to `N-n`.

Nevertheless, using the function`rsi` I get `N-n+1` elements.

I looked into the code, and it seems that you add an ex

[2018-04-17 09:03] iblis17 commented on #108
Hi,
I just tried
[code]
There isn't an extra value.

[2018-04-17 09:52] stefabat commented on #108
That is the point, I argue that the `rsi` function should return in your example 486 elements.

[2018-04-17 10:24] iblislin opened #110 "Percentage Price Oscillator - PPO"
https://www.investopedia.com/terms/p/ppo.asp

[2018-04-17 11:08] iblis17 commented on #108
ah, I got your point. I'm not sure the reason.
will send a patch later.

[2018-04-17 11:25] iblis17 commented on #108
@stefabat Could you give this patch a try?

[2018-04-17 12:29] stefabat commented on #108
Done.

It is working and it is correct (by comparing with both my own implementation and the one in `Indicators.jl`)

Cheers

[2018-04-17 12:34] #108 closed

[2018-06-12 11:40] brilhana commented on #110
I would like to tackle this. Would something like below suffice?

Largely inspired by `macd`.

[code]

[2018-06-12 11:52] brilhana commented on #110
Just saw #114.

[2018-07-13 14:46] #87 closed

[2018-07-28 20:54] brilhana commented on #56
Something like a `@now` macro could work. Are you working on this @milktrader?

[2018-07-29 10:17] iblis17 commented on #56
Now, I have a more clear idea about implementing this and #52:
Put an option struct at the head of all the function body.
e.g.
[code]

[2018-10-31 19:08] femtotrader commented on #93
Maintaining and adding new features (like https://github.com/dysonance/Temporal.jl/pull/30 and https://github.com/JuliaStats/TimeSeries.jl/pull/390) to both [Timeseries.jl](https://github.com/JuliaStats/TimeSeries.jl) and [Temporal.jl](https://github.com/dysonance/Temporal.jl/) is a waste of time

 I think we should really see how we could merge Temporal and Timeseries.

To achieve this task we pr

[2018-10-31 19:10] femtotrader commented on #93
We can even say that OHLC prices can be a 4 dimensions data
- axis 1 is datetime
- axis 2 is [:bid, :ask]
- axis 3 is [:Open, :High, :Low, :Close]
-axis 4 is stocks

[2019-01-29 13:41] shivchawla opened #117 "Doesn't work with latest TimeSeries.jl (0.14.0)"
With the new TimeSeries.jl, the current version doesn't work. I will try to update it!

```UndefvarError(:timestamp)```

[2019-02-10 16:30] iblis17 commented on #117
Let me know if you need any help!

[2019-04-23 07:56] woshidama323 opened #118 "Failed to add it to julia with version 1.0.3"
Don't know the reason, The version of julia is higher than required one ?

[code]

[2019-09-04 17:12] KristofferC opened #120 "Info about upcoming removal of packages in the General registry"
As described in https://discourse.julialang.org/t/ann-plans-for-removing-packages-that-do-not-yet-support-1-0-from-the-general-registry/ we are planning on removing packages that do not support 1.0 from the General registry. This package has been detected to not support 1.0 and is thus slated to be removed. The removal of packages from the registry will happen approximately a month after this issu

[2019-09-06 15:52] iblis17 commented on #120
We are working on migrating to Julia v1.x.
Ref: #119

[2019-10-09 08:33] #120 closed

[2019-11-10 14:21] Sinansi opened #121 "Package Not Found"
julia> using Pkg
julia> Pkg.add("MarketTechnicals")
ERROR: The following package names could not be resolved:
 * MarketTechnicals (not found in project, manifest or registry)
Please specify by known `name=uuid`.

[2019-11-17 03:34] iblis17 commented on #121
well, this package is not julia v1.0 + compatible,
related PR: https://github.com/JuliaQuant/MarketTechnicals.jl/pull/119

[2020-04-06 02:39] djatome commented on #118
Is this rectified?

[2020-04-06 03:43] iblis17 commented on #118
yes, it's fixed.

[2020-09-03 06:09] iblis17 opened #123 "Math docstring rendering in v1.5"
e.g
https://github.com/JuliaQuant/MarketTechnicals.jl/pull/122#discussion_r482725003

[2020-09-12 10:26] #123 closed

[2021-01-21 07:48] iblis17 opened #125 "Parabolic Stop And Reverse"
https://zh.wikipedia.org/wiki/%E6%8B%8B%E7%89%A9%E7%B7%9A%E6%8C%87%E6%A8%99

[2021-03-14 17:39] ericvoots opened #126 "Moving Average Group By"
with any of the moving averages, is it possible to do a group by function and return to the original dataframe?

i.e. if I have two tickers with different prices in the original dataframe that I feed into the moving average function?

[2021-03-16 07:12] iblis17 commented on #126
well, I'm not sure about your question.

I guess you have this

time | ticker1 | ticker2
----- | ---- | ----
2020/1/1 | a | x
2020/1/2 | b | y
2020/1/3 | c | z

So, you can just get the MA via
[code]
I think.

[2021-04-02 14:00] #117 closed

[2021-04-04 17:07] JuliaTagBot opened #129 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

If you'd like for me to do this for you, comment `TagBot fix` on this issue.
I'll open a PR

[2021-04-04 17:07] #129 closed

[2021-04-04 17:33] Arkoniak commented on #121
This PR: https://github.com/JuliaQuant/MarketTechnicals.jl/pull/127 provided support for v1.1+

[2021-04-04 17:33] #121 closed

[2021-04-04 17:34] Arkoniak commented on #118
This PR https://github.com/JuliaQuant/MarketTechnicals.jl/pull/127 provided support for v1.1+. Since 1.0.5 is relatively rare now, I am closing this issue. If support for 1.0-1.1 is needed, please reopen.

[2021-04-04 17:34] #118 closed

[2021-04-04 17:38] Arkoniak commented on #110
I guess we can revive #114, add some tests, and merge.

[2021-04-04 18:02] Arkoniak opened #130 "Indicator methods generalization"
This one is related in some sense to https://github.com/JuliaQuant/MarketData.jl/issues/71 and https://github.com/JuliaQuant/MarketTechnicals.jl/issues/93. On one hand, we have few data types for time series and it's hard to say which one is better (actually it is possible that all of them are good just in different circumstances). On the other hand, we have few packages with similar functionality

[2021-04-04 19:27] iblis17 commented on #130
How about implement the `unwrap`/`wrap` by applying Tables.jl API?

I guess the first problem is that the we might need to rewrite lots of time-related operations (which are already done in TimeSeries.jl) for `Vector`/`Martrix`, e.g. `lag`, `lead`, `moving`.

but yeah, we still can try it, then check out it's worthy or not.

[2021-04-05 11:41] Arkoniak commented on #130
That's a good idea, I will look in Tables.jl documentation, probably it shouldn't be that hard to do.

[2021-04-06 06:48] iblis17 commented on #110
yeah, that's a good starting point.

[2021-04-08 11:36] Arkoniak commented on #93
Sorry for reviving this thread, but I've stumbled on this issue and I think, that it can be solved in a rather simple fashion: let everybody uses the time format which they prefer, just add some conversion utilities. It is the same approach that is used in `Tables.jl`. Actually the only thing which is needed compared to `Tables.jl` is the support of time axis. I've made small demo, where I present

[2021-04-23 02:15] ericvoots commented on #126
basically have a time series like this and would want to get what is in the MA column:

![image](https://user-images.githubusercontent.com/15186821/115808289-3b5a0f80-a3b8-11eb-96f6-eabfbfe14eef.png)

[2021-04-23 10:41] iblis17 opened #131 "moveing average functions with `AbstractVector` support"
ATM, it only accepts `Vector`.

[2021-04-23 10:43] iblis17 commented on #126
ah, so you have a `DataFrame` as input, maybe you can just use the `groupby` function from `DataFrame`?

Maybe something like this
[code]

[2021-04-23 12:24] ericvoots commented on #126
Neat, okay that makes sense.

N00b question how do i make the output from:

combine(groupby(df, :ticker)) do subdf
        sma(subdf.value |> collect, 2)
       end

become a new column on the original dataframe?

Thank you!

[2021-04-23 13:38] iblis17 commented on #126
I think you can do something like this,
since the `sma` don't support padding with `NaN` at this moment, you need to add it manually.
[code]

[2021-04-24 20:49] #126 closed

[2021-04-24 20:49] ericvoots commented on #126
you rock, thank you

[2021-06-21 19:33] femtotrader commented on #93
Sorry for answering so lately... I was quite busy

You should also have a look at https://github.com/dysonance/Temporal.jl/issues/48#issuecomment-865270412

Maybe a first start could be to define what features are requested for a very good Julia timeseries library.

The concept of timeframe is important to provide a nice API for resampling timeseries (a very old and limited implementation can be f

[2021-11-02 18:24] millerjoey opened #133 "No method matching lagfill"
Hey, seems there's a bug in a call to `lagfill`:

[code]

It happens when it's used on a `TimeArray` with second dim > 1 as far as I can tell.

Something like this

[code]

Should fix it.

[2021-11-05 01:31] iblislin commented on #133
ah, could you send a PR for it?

[2021-12-10 21:55] kpa28-git commented on #93
I like the idea of writing code generically and allowing easy use of whatever type people want to use to represent their time series.

I like the approach Indicators.jl takes of writing core functionality in `Array{T}` and other native types. Although with what @Arkoniak says this isn't even necessary, I think it's better to take this approach to prevent bloat, too many conversions, and unwanted d

[2022-01-28 21:29] iuliancioarca opened #135 ""merge" function messes up MACD values"
I was wondering why the macd function does not return the same values as a manually computed one so I started debugging. So far so good up until (just the classical MACD implementation): https://github.com/JuliaQuant/MarketTechnicals.jl/blob/f0b6e221a375f40162cff6efcaf19f0f79d39859/src/momentum.jl#L113

Ahead to https://github.com/JuliaQuant/MarketTechnicals.jl/blob/f0b6e221a375f40162cff6efcaf19f0

[2022-04-22 14:00] dcelisgarza opened #136 "Using wrong loop order"
Hi, I'm using the package primarily for its moving averages. I found that pretty much every single case uses the wrong loop order for best performance. The fix is pretty easy, ie just swap the inner and outer loops. For example, this function in `movingaverages.jl`.

[code]

would simply turn into
[code]

[2022-05-23 11:14] vivekruhela opened #137 "Not able to install"
I am trying to add MarketTechnicals using command `@v1.7) pkg> add https://github.com/JuliaQuant/MarketTechnicals.jl` but unable to install it. The error message is shown bwlow:

`(@v1.7) pkg> add https://github.com/JuliaQuant/MarketTechnicals.jl`
    `Updating git-repo` `https://github.com/JuliaQuant/MarketTechnicals.jl`
  ` Resolving package versions...`
`ERROR: Unsatisfiable requirements detect

[2022-08-29 13:26] shayandavoodii opened #138 "Inconsistency with TimeSeries.jl"
[code]
Hi, I can't update `TimeSeries.jl` due to inconsistency with the `MarketTechnicals` version. Please solve this problem. Thanks.

[2022-10-11 04:46] banachtech opened #139 "Keltnerbands"
Keltner bands implementation has a minor bug. Input _w_ is unused and the range is hardcoded as 2.

[code]